<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <script type="text/javascript" src="../dist/js/jquery.min.js"></script>
    <script type="text/javascript" src="../dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" href="../dist/css/index.css">
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <navmenu></navmenu>
    <div class="container main">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb border-bottom pb-4">
          <li class="breadcrumb-item active" aria-current="page"><a href="index.html">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
      </nav>
      <div class="col-sm-12 text-center">
        <p class="h2">Contactez nous</p>
      </div>
      <div class="form col-lg-12">
        <form class="border border-primary" method="post">
          <div>
            <label for="Nom">Nom:</label>
            <input required class="form-control" type="text" name="Nom" placeholder="Nom">
          </div>
          <div>
            <label for="Prenom">Prénom:</label>
            <input required class="form-control" type="text" name="Prenom" placeholder="Prénom">
          </div>
          <div>
            <label for="Mail">Mail:</label>
            <input required class="form-control" type="email" name="Mail" placeholder="Mail">
          </div>
          <div>
            <label for="Message">Message:</label>
            <textarea class="form-control" name="Message" rows="8" placeholder="Message" cols="80"></textarea>
          </div>
          <div>
            <button class="btn btn-primary"type="submit">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
    <foot></foot>
    <script type="text/javascript" src="../dist/js/index.js"></script>
  </body>
</html>
