<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../dist/js/jquery.min.js"></script>
    <script type="text/javascript" src="../dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" href="../dist/css/index.css">
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
    <title>Galerie</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
  <navmenu></navmenu>
  <div class="main container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb border-bottom pb-4">
        <li class="breadcrumb-item active" aria-current="page"><a href="index.html">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Galerie</li>
      </ol>
    </nav>
    <p class="h2 text-center">Galerie</p>
    <div class="row">
      <div  class="rowitem">
        <img  src="../dist/img/scene1.JPG" alt="">
      </div>
      <div class="rowitem">
        <img src="../dist/img/chemine.JPG" alt="">
      </div>
      <div class="rowitem">
        <img src="../dist/img/chambre1.JPG" alt="">
      </div>
    </div>
    <div class="row">
      <div class="rowitem">
        <img src="../dist/img/chambre2.JPG" alt="">
      </div>
      <div class="rowitem">
        <img src="../dist/img/chambre3.JPG" alt="">
      </div>
      <div class="rowitem">
        <img src="../dist/img/plafond1.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="rowitem">
        <img src="../dist/img/scene2.jpg" alt="">
      </div>
      <div class="rowitem">
        <img src="../dist/img/sieges2.JPG" alt="">
      </div>
      <div class="rowitem">
        <img src="../dist/img/sieges1.jpg" alt="">
      </div>
    </div>
  </div>


  <foot></foot>
  <script type="text/javascript" src="../dist/js/index.js"></script>
  </body>
</html>
