<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../dist/js/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../dist/css/index.css">
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
    <title>Gallerie</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
  <navmenu></navmenu>
  <div class="gallerie main container">
    <div class="ligne">
      <img src="https://via.placeholder.com/250/" alt="">
      <img src="https://via.placeholder.com/250/" alt="">
      <img src="https://via.placeholder.com/250/" alt="">
    </div>
    <div class="ligne">
      <img src="https://via.placeholder.com/250/" alt="">
      <img src="https://via.placeholder.com/250/" alt="">
      <img src="https://via.placeholder.com/250/" alt="">
    </div>
    <div class="ligne">
      <img src="https://via.placeholder.com/250/" alt="">
      <img src="https://via.placeholder.com/250/" alt="">
      <img src="https://via.placeholder.com/250/" alt="">
    </div>
  </div>


  <foot></foot>
  <script type="text/javascript" src="../dist/js/index.js"></script>
  </body>
</html>
