<header class="container">
  <div class="logo">
    <a href="#">
      <img src="../dist/img/logo-placeholder.png" alt="Logo">
    </a>
  </div>
  <nav class="navbar">
    <a class="btn" href="#">Home</a>
    <a class="btn" href="#">Contact</a>
    <a class="btn" href="#">Else</a>
    <a class="btn" href="#">Else</a>
    <form class="form-inline" action="test.html" method="post">
      <input type="search" name="Search" placeholder="Recherche">
    </form>
  </nav>
</header>




'<div class="logo">
  <a href="#">
    <img src="../dist/img/logo-placeholder.png" alt="Logo">
  </a>
</div>
<nav class="navbar">
  <a class="btn" href="#">Home</a>
  <a class="btn" href="#">Contact</a>
  <a class="btn" href="#">Else</a>
  <a class="btn" href="#">Else</a>
  <form class="form-inline" action="test.html" method="post">
    <input type="search" name="Search" placeholder="Recherche">
  </form>
</nav>'
