<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Accueil</title>
  <script type="text/javascript" src="../dist/js/jquery.min.js"></script>
  <script type="text/javascript" src="../dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../dist/css/index.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
  <navmenu></navmenu> <!-- la balise cree grace au vuejs qui remplace le menu (voir index.js) -->
  <div class="container main ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb border-bottom pb-4">
        <li class="breadcrumb-item active" aria-current="page">Accueil</li>
      </ol>
    </nav>
    <div id="carrousel" class="carousel">
      <ul>
        <li><img src="../dist/img/plafond1.jpg"/></li>
        <li><img src="../dist/img/scene2.jpg"/></li>
        <li><img src="../dist/img/sieges1.jpg"/></li>
        <li><img height="729"src="../dist/img/chemine.JPG"/></li>

      </ul>
      <button class="carousel-control-prev" type="button" onclick="changePrev()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" onclick="changeNext()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <p>
      Ce projet a été réalisé dans le cadre de SAE 303. Le focus principal a été fait sur la vidéo que vous pouvez voir en dessous de ce texte. Mais aussi ce site nous a permis d’apprendre comment dynamiser le site et le styliser grâce à des frameworks comme Vuejs, Bootstrap et Jquery. Pour la vidéo on a tourné dans les fameux endroits de Vichy comme, Parc des sources, Hall des sources et Opéra de Vichy. La vidéo a été réalisée par 3 étudiants de BUT MMI de Vichy, Evan Humeau, Paul Vergeaud et Maxim Pozdnyakov. Nous voulons remercier Henri Petit pour sa participation dans l’interview.
    </p>
    <div class="ratio ratio-16x9">
        <iframe class=".embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/1f4ZSHU3qqU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <foot></foot> <!-- la balise cree grace au vuejs qui remplace le footer (voir index.js) -->
    <script type="text/javascript" src="../dist/js/index.js"></script>
  </body>
  </html>
