<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mentions légales</title>
  <script type="text/javascript" src="../dist/js/jquery.min.js"></script>
  <script type="text/javascript" src="../dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../dist/css/index.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
  <navmenu></navmenu> <!-- la balise cree grace au vuejs qui remplace le menu (voir index.js) -->
  <div class="container main ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb border-bottom pb-4">
        <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mentions légales</li>
      </ol>
    </nav>
    <p>
      <p>Identite de l'entreprise : Pozdnyakov Maxim 2 rue jspquoi, Vichy</p>
      <p>Numero d'immatriculation : XXXXXXXXX</p>
      <p>Mail : lorem@lorem.com</p>
      <p>Telephone : XXXXXXXXXXX</p>
      <p>Numéro d'identification à la TVA : XXXXXXXXXX</p>
      <p>Identité de l'hébergeur: Attente d'hebergement</p>
    </p>
  </div>
    <foot></foot> <!-- la balise cree grace au vuejs qui remplace le footer (voir index.js) -->

    <script type="text/javascript" src="../dist/js/index.js"></script>
  </body>
  </html>
